:root {
  --textarea-font-size: 12pt;
  --textarea-line-height: 1.2em;
  --textarea-max-number-of-lines: 5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: gray;
}

.textarea-autosize-container {
  display: flex;
  background-color: #00ff00;
  padding: 2px 2px 2px 2px;
  overflow: hidden hidden;
}

.textarea-autosize-container > #textarea-autosize {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  cursor: auto;
  resize: none;
  background-color: #ffffff;
  overflow: hidden auto;
  font-size: var(--textarea-font-size);
  line-height: var(--textarea-line-height);
  min-height: var(--textarea-line-height);
  max-height: calc(var(--textarea-line-height) * var(--textarea-max-number-of-lines));

  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2);
}

.textarea-autosize-container > #textarea-autosize:focus {
  outline: none;
  font-size: var(--textarea-font-size);
  line-height: var(--textarea-line-height);
}

.textarea-autosize-container > #textarea-autosize:placeholder {
  outline: none;
  resize: none;
  line-height: var(--textarea-line-height);
}

.textarea-autosize-container > #textarea-autosize::-webkit-scrollbar {
  width: 3px;
}

.textarea-autosize-container > #textarea-autosize::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.4);
}

.textarea-autosize-container > #textarea-autosize::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}